<div class="w-64 p-4 min-h-screen">
  
    <!-- Following section -->
    <div class="mt-16 ">
        <div class="flex items-center">
            <h3 class="text-sm font-semibold text-gray-500 mb-2">Playlist</h3>
            <button class="ml-auto hover:shadow-2xl rounded-full hover:text-yellow hover:bg-gray-700/50 flex-none flex items-center justify-center w-8 h-8 text-gray-50" type="button" aria-label="Add">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
            
        </div>
        <ul class="overflow-y-scroll h-[calc(100vh-200px)]">
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
            <div class="w-6 h-6 rounded-full bg-gray-500"></div>
            <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
            <div class="w-6 h-6 rounded-full bg-gray-500"></div>
            <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>

            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
            <li class="p-2 rounded-lg flex items-center space-x-2 hover:bg-gray-700/50 hover:shadow-2xl">
                <div class="w-6 h-6 rounded-full bg-gray-500"></div>
                <a href="#" class="block py-2 hover:text-gray-400">Playlist</a>
            </li>
        <!-- Repeat for more follows -->
      </ul>
      <hr class="line-separator border-t-1 border-gray-500 " />
    </div>
</div>