.card {
    /* สไตล์การ์ด */
  }
  
  .card-title, .card-artist {
    max-width: 200px; /* ปรับขนาดตามที่ต้องการ */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* แสดง "..." เมื่อข้อความเกิน */
  }
  