<div class="w-64 p-4 min-h-screen ml-auto">
  
    <!-- Following section -->
    <div class="mt-16">
      <h3 class="text-sm font-semibold text-gray-500 mb-2">Song</h3>
      <ul class="space-y overflow-y-auto h-[calc(100vh-200px)]">
        <li class="p-2 hover:shadow-2xl rounded-lg flex items-center space-x-2 hover:bg-gray-700/50">
          <div class="w-6 h-6 rounded-full bg-gray-500"></div>
          <a href="#" class="block py-2 hover:text-gray-400">GawGaBa</a>
        </li>
        <li class="p-2 hover:shadow-2xl rounded-lg flex items-center space-x-2 hover:bg-gray-700/50">
          <div class="w-6 h-6 rounded-full bg-gray-500 "></div>
          <a href="#" class="block py-2 hover:text-gray-400">Extreme IT</a>
        </li>
        <!-- Repeat for more follows -->
      </ul>
    </div>
    <hr class="line-separator border-t-1 border-gray-500 " />
</div>