<div class="grid place-items-center mt-20">
    <div class="flex p-6 font-mono bg-neutral-800 rounded-lg">
        <div class="flex-none w-48 mb-10 relative z-10 before:absolute before:top-1 before:left-1 before:w-51 before:h-51 before:bg-gray-50 before:rounded-lg">
        <img src="https://i.scdn.co/image/ab67616d0000b27371d62ea7ea8a5be92d3c1f62" alt="" class="absolute z-10 inset-0 w-50 h-50 object-cover rounded-lg" loading="lazy" />
        </div>
        <form class="flex-auto pl-6">
        <div class="relative flex flex-wrap items-baseline pb-1 before:absolute before:-top-6 before:bottom-0 before:-left-60 before:-right-6 before:rounded-lg">
            <h1 class="relative w-full flex-none mb-2 text-2xl font-semibold text-white">
            Playlist Name
            </h1>
            <div class="relative text-lg text-white">
            Owner's Name
            </div>
            <div class="relative uppercase text-teal-400 ml-3">
            Type
            </div>
        </div>
        <div class="flex items-baseline my-6">
            <div class="space-x-3 flex text-sm font-medium">
            <label>
                <input class="sr-only peer" name="size" type="radio" value="l" />
                <div class="rounded-lg relative w-20 h-10 flex items-center justify-center text-gray-50 peer-checked:bg-gray-50 peer-checked:text-neutral-800 before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
                Private
                </div>
            </label>
            <label>
                <input class="sr-only peer" name="size" type="radio" value="xl" />
                <div class="rounded-lg relative w-20 h-10 flex items-center justify-center text-gray-50 peer-checked:bg-gray-50 peer-checked:text-neutral-800 before:absolute before:z-[-1] before:top-0.5 before:left-0.5 before:w-full before:h-full peer-checked:before:bg-teal-400">
                Public
                </div>
            </label>
            </div>
        </div>
        <div class="flex space-x-2 mb-4 text-sm font-medium">
            <div class="flex space-x-4">
            <button class="hover:text-gray-50 hover:bg-neutral-800  rounded-lg px-6 h-12 uppercase font-semibold tracking-wider border-2 border-gray-50 bg-gray-50 text-gray-900" type="submit">
                Create Playlist
            </button>
            <button class="hover:text-neutral-800 hover:bg-teal-400 hover:border-teal-400 rounded-lg px-6 h-12 uppercase font-semibold tracking-wider border border-slate-200 text-gray-50" type="button">
            Copy Playlist
            </button>
            </div>
            <button class="rounded-lg hover:text-pink-500 hover:bg-gray-50 flex-none flex items-center justify-center w-12 h-12 text-gray-50" type="button" aria-label="Like">
            <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
            </svg>
            </button>
        </div>
        </form>
    </div>
</div>