<main class="grid place-items-center min-h-screen bg-gradient-to-t from-black to-blue-900 p-5">
  <!-- <video class="h-100 w-7/12 rounded-lg" controls autoplay muted>
    <source src="c:\Users\farni\Videos\Recording 2024-09-16 203712.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video> -->
  
  <img src="https://images.genius.com/3286a6ca5c29bd26f92c2395a49a928e.1000x333x1.jpg" alt="Header Image" class="w-[1500px] h-[500px] rounded-lg mb-5" />

    <div>
      <div class="flex items-center justify-between mb-5">
        <h1 class="text-4xl sm:text-5xl md:text-4xl font-bold text-gray-200">Popular artists</h1>
        <button
          (click)="toggleShowAll()"
          class="text-blue-400 hover:underline focus:outline-none">
          {{ showAll ? 'Show Less' : 'Show All' }}
        </button>
      </div>
  
      <section class="grid grid-cols-1 sm:grid-cols-6 gap-4">
        <ng-container *ngFor="let card of cards; let i = index">
          <app-card
            *ngIf="showAll || i < 6"
            [title]="card.title"
            [artist]="card.artist"
            [imageUrl]="card.imageUrl">
          </app-card>
        </ng-container>
      </section>
    </div>
  
  </main>
  