<div class="carousel-container">
  <button class="scroll-btn left-btn" [ngClass]="{'mbti-specific': isMbtiPage}" (click)="scrollLeft()">
    <i class="fa-solid fa-circle-chevron-left"></i>
  </button>

  <div class="carousel" #carousel>
    <div class="card-mbti" *ngFor="let mbticard of MBTi" (click)="goToPlaylist(mbticard.mbti)">
      <img [src]="mbticard.img" alt="{{mbticard.mbti}}" class="mbti-image"/>
      <div class="mbti-details">
        <div class="textmbti">
          {{ mbticard.description }}
        </div>
      </div>
    </div>
  </div>

  <button class="scroll-btn right-btn" [ngClass]="{'mbti-specific': isMbtiPage}" (click)="scrollRight()">
    <i class="fa-solid fa-circle-chevron-right"></i>
  </button>
</div>
